### IDE ###
.idea/
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

### Symfony asset-mapper ###
/public/assets/
/assets/vendor/

### Node / JS ###
node_modules/
public/build/

