
@font-face {
    font-family: 'ZT Nature';
    src: url('../fonts/ZTNature-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ZT Nature';
    src: url('../fonts/ZTNature-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ZT Nature';
    src: url('../fonts/ZTNature-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

$font-title: 'ZT Nature', sans-serif;
$font-body:  'ZT Nature', sans-serif;
$font-heading: 'Shrikhand', sans-serif;



$transition-smooth: all 0.3s ease;

// Color variables
$primary-color: #8F1643;
$secondary-color: #A73760;
$accent-pink: #FFE5D9;
$accent-peach: #FFC89B;
$accent-rose: #FFB6A9;
$accent-step:#ed6f9e;
$text-dark: #450A20;
$btn-rdv:#3b0a1a;
$text-light: #FFE5D9;
$white: #FFFFFF;

