@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZT+Nature:wght@300;400;500;700&display=swap');

// Font variables
$font-title: 'ZT Nature', sans-serif;
$font-body:  'ZT Nature', sans-serif;

// Color variables
$primary-color: #8F1643;
$secondary-color: #A73760;
$accent-pink: #FFE5D9;
$accent-peach: #FFC89B;
$accent-rose: #FFB6A9;
$text-dark: #450A20;
$text-light: #FFE5D9;
$white: #FFFFFF;

